html {
  background-color: var(--white);
  color: var(--grey-700);
  font-family: "Open Sans", "Helvetica Neue", Arial, Sans-serif;
  font-style: normal;
  font-weight: 400;
}

h2, h3, h4, h5, h6 {
  line-height: 1.3em;
}

h1 {
  font-size: 3rem;
  line-height: 1.2em;
}

h2 {
}

h3 {
}

a, button {
  cursor: pointer;
}

a {
  color: var(--pink);
  text-decoration: none;

  &:hover {
    color: var(--pink-dark);
  }
}

button {
  background: transparent;
  border: none;
  font-size: .875rem;
  padding: 0;
}

label {
  cursor: pointer;
}

b {
  font-weight: 700;
}

video {
  width: 100%;
  height: auto;
}

button:focus {
    outline: none;
}

p {
  font-size: .875rem;
  line-height: 1.5em;
  margin-bottom: .5rem;
}

input, textarea, select {
  border: 1px solid var(--grey-100);
  outline: 0;
  font-size: 1rem;

  &:read-only:not(select) {
    background-color: var(--grey-10);
  }
}

input, textarea {
  font-family: "Open Sans", "Helvetica Neue", Arial, Sans-serif;
  padding: 0 .75rem;
}

input, select {
  height: 3rem;
  padding: 0 1rem;
}

textarea {
  line-height: 1.4rem;
  padding: .75rem 1rem;
}

label {
  font-size: .875rem;
  margin-bottom: .75rem;
}

hr {
  background-color: var(--grey-10);
  border: none;
  display: block;
  height: 2px;
  margin: 0;
  width: 100%;
}


/*
*
* POSTCSS GLOBALS
*
*/

/* Block Level */
:global .u-inlineBlock {
  display: inline-block !important;
}

:global .u-block {
  display: block !important;
}


/* Table */
:global .u-table {
  display: table;
  table-layout: fixed;
}

:global .u-tableRow {
  display: table-row;
}

:global .u-tableCell {
  display: table-cell;
  vertical-align: top;
}


/* Clearfix */
/* http://nicolasgallagher.com/micro-clearfix-hack/ */
:global .u-cf:before,
:global .u-cf:after {
  content: " ";
  display: table;
}

:global .u-cf:after {
  clear: both;
}


/* Floats */
:global .u-floatRight {
  float: right;
}

:global .u-floatLeft {
  float: left;
}


/* Font Fmaily */
:global .u-serif {
  font-family: "Droid Serif", Times, serif;
}

:global .u-sans {
  font-family: "Open Sans", "Helvetica Neue", Arial, Sans-serif;
}


/* Font Sizing */
:global .u-small {
  font-size: .875rem;
}

:global .u-smaller {
  font-size: .75rem;
}


/* Font Weight */
:global .u-fw-800 {
  font-weight: 800;
}

:global .u-fw-700 {
  font-weight: 700;
}

:global .u-fw-600 {
  font-weight: 600;
}

:global .u-fw-500 {
  font-weight: 500;
}

:global .u-fw-200 {
  font-weight: 200;
}

:global .u-fw-100 {
  font-weight: 100;
}

:global .u-bold {
  font-weight: bold;
}

:global .u-extraBold {
  font-weight: 800;
}


/* Text color */
:global .u-c-black {
  color: var(--black) !important;
}

:global .u-c-white {
  color: var(--white);
}

:global a.u-c-white:hover {
  color: var(--pink);
}


/* Text Transform */
:global .u-uppercase {
  text-transform: uppercase;
}

:global .u-underline {
  text-decoration: underline;
}


/* Text Align */
:global .u-alignRight {
  text-align: right;
}

:global .u-alignLeft {
  text-align: left;
}

:global .u-alignCenter {
  text-align: center;
}


/* Vertical Align */
:global .u-alignBottom {
  vertical-align: bottom;
}

:global .u-alignMiddle {
  vertical-align: middle;
}

:global .u-alignTop {
  vertical-align: top;
}


/* position */
:global .u-relative {
  position: relative;
}

:global .u-absolute {
  position: absolute;
}


/* Border Radius */
:global .u-borderRadius-sm {
  border-radius: var(--border-radius-sm);
}

:global .u-borderRadius-md {
  border-radius: var(--border-radius-md);
}

:global .u-borderRadius-lg {
  border-radius: var(--border-radius-lg);
}

:global .u-borderRadius-xl {
  border-radius: var(--border-radius-xl);
}

:global .u-borderRadius-bottom-md {
  border-radius: 0 0 var(--border-radius-md) var(--border-radius-md);
}

:global .u-borderRadius-left-md {
  border-radius: var(--border-radius-md) 0 0 var(--border-radius-md);
}

:global .u-borderRadius-right-md {
  border-radius: 0 var(--border-radius-md) var(--border-radius-md) 0;
}

:global .u-borderRadius-top-md {
  border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
}


/* helpers */
:global .u-absolute-center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

:global .u-absolute-centerX {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

:global .u-absolute-centerY {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

:global .u-absolute-full {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/* Responsive */
:global .rwd-break { display: none; }
:global .rwd-space { display: inline; }

@media (--screen-s) {
  :global .rwd-break { display: block; }
  :global .rwd-space { display: none; }
}

:global .u-divider {
  margin: 1.5rem 0;
  width: 100%;
  height: 1px;
  background-color: var(--grey-100);
}

:global .u-modal {
  position: fixed;
  z-index: var(--z-index-modal);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* Loading */

:global .loader {
  border: 6px solid var(--grey-20);
  border-radius: 50%;
  border-top: 6px solid var(--pink);
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  display: inline-block;
}

:global @keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}