/* app/css/login.css */

@import './core/variables.css';

.loadMore {
  background-color:var(--grey-15);
  color: var(--black);
  font-size: .75rem;
  font-weight: bold;
  line-height: 2.5rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  width: 100%;

  &:hover {
    background-color: var(--grey-80);
  }
}
